@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">รหัสสินค้า</th>
                <th scope="col">ชื่อสินค้า</th>
                <th scope="col">ราคาขาย</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.ProductId</th>
                    <td>@item.ProductName</td>
                    <td>@item.ProductPrice</td>
                </tr>   
            }
            
        </tbody>
    </table>
</div>